@font-face {
    font-family: "korfont";
    src: url("../fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
    font-family: "engfont";
    src: url("../fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf") format(truetype);
}