@charset "utf-8";
@import url("font.css");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "engfont";
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}
p {
    font-size: 50px;
}
/* section */
.section {
    height: 100vh;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 25px;
}
header .container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
/* header color */
header a {
    transition: color 0.3s ease 0.05s;
}
header.light a,
.light h2 {
    color: #5D6DA7;
}
header.dark a,
.dark h1 {
    color: #fff;
}
/* nav */
nav {
    position: relative;
}
nav .menu {
    font-size: 20px;
    font-weight: 700;
    /* color: #fff; */
}
nav ul {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding-top: 10px;
}
nav > a {
    opacity: 1;
    transition: all 0.3s linear;
}
nav:hover > a {
    opacity: 0.5;
}
nav ul li a {
    opacity: 1;
    transition: all 0.2s linear;
}
nav ul li:hover a {
    opacity: 0.5;
}
nav ul li {
    padding: 7px 0;
}
nav .submenu {
    font-size: 15px;
    font-weight: 500;
    /* color: #fff; */
    text-align: center;
    display: none;

}
nav:hover .submenu {
    display: block;
}
/* section */
.section.intro,
.section.outro {
    background-color: #5D6DA7;
    white-space: nowrap;
}
.section.outro .title {
    text-align: center;
}
.title {
    font-size: 110px;
    font-weight: 700;
}
.subtitle {
}
/* skill */
.skill {}
.skill .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill .title {}
.skill .skill_list {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}
.skill .skill_list .skills {
    margin: 70px;
}
.skill .skill_list .skills p {
    font-weight: 500px;
    line-height: 0.8;
    margin-bottom: 50px;
}
.skill .skill_list .skills ul {
    font-size: 25px;
}
.skill .skill_list .skills li {
    margin-bottom: 15px;
    cursor: default;
}
.skill .skill_list .design {}

.skill .skill_list .design ul li span img {
    width: 35px;
    margin-right: 10px;
    filter: grayscale();
    transition: all 0.3s linear;
}
.skill .skill_list .design ul li:hover span img {
    filter: none;
}
.skill .skill_list .publishing {}

/* work */
.work {}
.renewal_title {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 30px;
    color: #777;
    font-family: "korfont";
    font-weight: 500;
}
.mainpage {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10%;
    gap: 20px;
    max-width: 800px;
    height: 195px;
    overflow: hidden;
}
.mainpage .process,
.mainpage .renewal {
    width: 100%;
    position: relative;
    line-height: 0;
}

.mainpage .process .processbtn,
.mainpage .renewal .gobtn {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    opacity: 0.5;
    transition: all 0.5s;
}
.mainpage .process:hover .processbtn,
.mainpage .renewal:hover .gobtn {
    color: #333;
}
.mainpage .process a::after,
.mainpage .renewal a::after {
    content: "";
     position: absolute;
    inset: 0;              /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0,0,0,0.4);  /* 검은 그림자 */
    pointer-events: none;  /* 클릭 방해 방지 */
}
.mainpage img {
    width: 100%;
}

.cafe24 {
    width: 500px;
    position: absolute;
    top: 40%;
    right: 10%;
}
.cafe24 img {
    width: 100%;
}

.cafe24 .cafe24img::after {
    content: "";
    position: absolute;
    inset: 0;             
    background: rgba(0,0,0,0.4);
    pointer-events: none; 
}
.cafe24txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fff;
    opacity: 0.9;
    transition: all 0.5s;
}
.cafe24:hover .cafe24txt {
    opacity: 0.5;
}

/* cardnews */
.swiper {
    width: 400px;
    height: 450px;
    position: absolute;
    top: 38%;
    right: 140px;
}
.swiper img {
    width: 100%;
}
.swiper-pagination {
    top: 90% !important;
}
.swiper-pagination-bullet {}
.swiper-pagination-bullet-active {
    background-color: #5D6DA7;
}
.swiperbtn {
    position: absolute;
    display: flex;
    gap: 400px;
    right: 94px;
    bottom: 260px;
}
.swiper-btn-prev,
.swiper-btn-next {
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    color: #b9b9b9;
    transition: all 0.3s;
}
.swiper-btn-prev {
    left: 80%;
}
.swiper-btn-next {
    transform: translateY(-50%) rotate(180deg);
}
.swiper-btn-prev:hover,
.swiper-btn-next:hover {
    color: #5D6DA7;
}
.swiper-btn-prev span,
.swiper-btn-next span {
    font-size: 45px;
}
/* detail page */
.detailpage {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 40%;
    right: 10%;
    border-radius: 10px;
    overflow: hidden;
}
.detailpage::after {
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
.detailpage .detailpdf {

}
.detailpage a img {
    width: 100%;
    transform: translateY(0);
}
.detailpage:hover img {
    transform: translateY(-50%);
    transition: all 15s linear;

}
.detailpage .detailclick {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    opacity: 0.7;
    transition: all 0.5s;
    z-index: 1000;
}
.detailpage:hover .detailclick {
    color: #333;
}